html {
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    align-items: center;
    background-color: darkorange;
}

.home {
    height: 175px;
}

.logohome {
    height: 30px;
}

.kotak {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: orange;
    height: 300px;
    width: 500px;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
}

.pencet {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
}

.wa {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.logowa {
    height: 50px;
}

.ig {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.logoig {
    height: 50px;
}

.awa:hover {
    background-color: rgb(40, 243, 22);
    border-radius: 8px;
}

.aig:hover {
    border-radius: 8px;
    background: rgb(204,8,190);
    background: -moz-linear-gradient(197deg, rgba(204,8,190,1) 15%, rgba(250,0,21,1) 64%, rgba(252,232,70,1) 93%);
    background: -webkit-linear-gradient(197deg, rgba(204,8,190,1) 15%, rgba(250,0,21,1) 64%, rgba(252,232,70,1) 93%);   
    background: linear-gradient(197deg, rgba(204,8,190,1) 15%, rgba(250,0,21,1) 64%, rgba(252,232,70,1) 93%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc08be",endColorstr="#fce846",GradientType=1);
}