html {
    margin: 0;
    padding: 0;
}

body {
    background-color: orange;
}

.logohome {
    height: 30px;
}

.container {
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.imgsawer {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logosawer {
    height: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-content {
    list-style-type: none;
    font-size: 30;
    margin: 0;
    padding: 0;
}

.li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.a {
    text-decoration: none;
    color: rgb(8, 5, 0);
    background-color: rgb(128, 73, 6);
    border-radius: 8px;
}

.a:hover {
    background-color: rgb(250, 246, 246);
    border-radius: 8px;
}